{% extends 'base.html.twig' %}

{% block title %}Person Search{% endblock %}

{% block pageheader %}
    <h1>Person Search</h1>
    {% include 'AppBundle:misc:search-header.html.twig' with {'results': people} %}
{% endblock %} 

{% block body %}

    {% include 'AppBundle:misc:search-form.html.twig' with {'search_path': 'person_search'} %}

    {% if q %}
        {% include 'AppBundle:person:partial/table.html.twig' %}
    {% endif %}

    {% include 'AppBundle:misc:search-footer.html.twig' with {'results': people} %}

{% endblock %}
