{% extends 'base.html.twig' %}

{% block title %}Collections{% endblock %}

{% block pageheader %}
    <h1>Collection List</h1>
    <p class="count">
        Displaying {{ compilations|length }} collections of {{ compilations.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a href="{{ path('compilation_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            </div>
        </div>
    {% endif %}

    {% include 'AppBundle:compilation:partial/table.html.twig' %}

    <div class="navigation">
        {{ knp_pagination_render(compilations) }}
    </div>

{% endblock %}
