###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# documentation
/docs/src/build
/web/docs

# PHPStorm config.
/.idea
.yarn-integrity
public/yarn
config/deploy.yml
*.sql
templates/jquery.collection.html.twig
public/docs
public/js/jquery.collection.js
src/.preload.php

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

# Data directories
/data

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
config/deploy.yaml
Makefile.local
