{% if people.items == null and people.currentPageNumber == 1 %}
    <p>No results for this query</p>
{% elseif people.items == null and people.currentPageNumber > 1 %}
    <p>No results for this page</p>
{% else %}
<p class="count">Displaying {{ people.items|length }} people results of {{ people.getTotalItemCount }} total.</p>
<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Born</th>
            <th>Died</th>
        </tr>
    </thead>
    <tbody>
        {% for person in people %}
            <tr>
                <td>
                    {% embed 'AppBundle:person:partial/link.html.twig' %}
                    {% endembed %}
                </td>   
                <td>{{ person.birthDate }}</td>
                <td>{{ person.deathDate }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
