{% if contribution.publication.category == constant('App\\Entity\\Publication::BOOK') %}
    {% set path_name = 'book_show' %}
{% elseif contribution.publication.category == constant('App\\Entity\\Publication::COMPILATION') %}
    {% set path_name = 'compilation_show' %}
{% elseif contribution.publication.category == constant('App\\Entity\\Publication::PERIODICAL') %}
    {% set path_name = 'periodical_show' %}
{% else %}
    <p>Cannot generate link for entity type {{ contribution.publication.category }}.</p>
{% endif %}
{% if path_name is defined %}
    <a href="{{ path(path_name, { 'id': contribution.publication.id}) }}">
        {{ include(template_from_string(render)) }}
    </a>
{% endif %}
