<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Publication Date</th>
        </tr>
    </thead>
    <tbody>
        {% for compilation in compilations %}
            <tr>
                <td>
                    <a href="{{ path('compilation_show', { 'id': compilation.id }) }}">
                        {{ compilation.title }}
                    </a>
                </td>
                <td>{{ compilation.dateYear }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
