{% extends 'base.html.twig' %}

{% block body %}

    <div class="homepage">
        <img src="{{ asset_prefix|default('') ~ asset('images/homepage/header.jpg') }}" alt="Database of Canada's Early Women Writers" style="margin-bottom:2em;">
        <p>The Database of Canada’s Early Women Writers (DoCEWW) at Simon Fraser
            University is associated with the larger <a href="http://beta.cwrc.ca/islandora/object/islandora%3Adbdbd5af-fc3a-4f91-9be8-9ad8499fa8af">
                Canada’s Early Women Writers (CEWW) project</a>, which is part of
            the <a href="http://beta.cwrc.ca/">Canadian Writing Research Collaboratory (CWRC)</a>.
            Both projects include Canadian women writers who published their first work, in English, in or before 1950.</p>

        <p>CEWW offers extensive bio-bibliographic entries on a selection of
            early Canadian women writers for whom sufficient information can be
            found; the DoCEWW is a simpler, easily navigable database of <em>all</em>
            Canadian women writers who have been identified by our project. Intriguing
            stories about our authors and titles can also be found on our
            <a href="https://ceww.wordpress.com">project blog</a>.</p>

        <p>DoCEWW contains some 5000 authors, but the list is not yet comprehensive:
            we invite the public to contribute new names or additional information.
            To contact us, please leave a comment in the form on the specific
            page, or leave a comment on our <a href="https://ceww.wordpress.com">blog</a>.</p>

        <h2>Acknowledgements</h2>

        <p>This project has been supported by the
            <a href="http://www.sshrc-crsh.gc.ca/home-accueil-eng.aspx">Social
                Sciences and Humanities Research Council of Canada (SSHRC)</a>,
            <a href="http://www.sfu.ca/fass.html">the Simon Fraser
                University Faculty of Arts and Social Sciences</a>, the
            <a href="http://www.sfu.ca/english.html">Department of English</a>, and the
            <a href="https://dhil.lib.sfu.ca">Digital Humanities Innovation Lab</a>
            at SFU.</p>

        <div style="margin-top:2em;">
        <img src="{{ asset_prefix|default('') ~ asset('images/homepage/sshrc.png') }}" alt='Social Sciences and Humanities Research Council of Canada'>
        <img src="{{ asset_prefix|default('') ~ asset('images/homepage/sfu-tri.jpg') }}" alt='Simon Fraser University faculty of Arts and Social Sciences, Department of English, and SFU Library'>
        <img src="{{ asset_prefix|default('') ~ asset('images/homepage/dhil-logo.png') }}" alt='SFU Digital Humanities Innovation Lab'>
        </div>
    </div>
{% endblock %}
