{# @var options array #}
{# @var string header #}
{% set query_params = app.request.query.all %}
<h3>{{ header }}</h3>
<select name="order" id="order" class='form-control mb-3'>
    {% for label, value in options %}
        <option value='{{ value }}' {{ ('order' in query_params|keys) and (value == query_params['order']) ? 'selected="selected"' : '' }}>
            {{ label }}
        </option>
    {% endfor %}
</select>
