{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block pageheader %} 
    <h1>Genre</h1>
{% endblock %} 

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('genre_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
            {% if is_granted('ROLE_CONTENT_EDITOR') %}
                <a href="{{ path('genre_edit', { 'id': genre.id }) }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-edit'></span> Edit
                </a>
                {% if is_granted('ROLE_CONTENT_ADMIN') %}
                    <a href="{{ path('genre_delete', { 'id': genre.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this Genre?">
                        <span class='glyphicon glyphicon-remove'></span> Delete
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {{ include('NinesUtilBundle:Term:partial/show.html.twig', { 'term': genre }) }}

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#book" aria-controls="messages" role="tab" data-toggle="tab">Books</a></li>
            <li role="presentation"><a href="#compilation" aria-controls="messages" role="tab" data-toggle="tab">Collection</a></li>
            <li role="presentation"><a href="#periodical" aria-controls="messages" role="tab" data-toggle="tab">Periodicals</a></li>
        </ul>
        
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="book">
                {% embed 'AppBundle:Publication:partial/list.html.twig' with {'publications': genre.publications(constant('AppBundle\\Entity\\Publication::BOOK')) } %}
                {% endembed %}
            </div>            

            <div role="tabpanel" class="tab-pane" id="compilation">
                {% embed 'AppBundle:Publication:partial/list.html.twig' with {'publications': genre.publications(constant('AppBundle\\Entity\\Publication::COMPILATION')) } %}
                {% endembed %}
            </div>            

            <div role="tabpanel" class="tab-pane" id="periodical">
                {% embed 'AppBundle:Publication:partial/list.html.twig' with {'publications': genre.publications(constant('AppBundle\\Entity\\Publication::PERIODICAL')) } %}
                {% endembed %}
            </div>            
        </div>
    </div>

{% endblock %}
