{% extends 'base.html.twig' %}

{% block title %}Person Search{% endblock %}

{% block pageheader %}
    <h1>Person Search</h1>
{% endblock %}

{% block body %}
    {% set q = ('q' in app.request.query.all|keys ? app.request.query.all.q : null) %}
    <hr>
    <form method="get" action="{{ path('person_search') }}">
        <div class="input-group my-3">
            <input type="search" class="form-control" placeholder="Search term..." aria-label="Search term" name="q" id="q" value="{{ q }}" />
            <button class="btn btn-primary" type="submit" id='btn-search'>
                <i class="bi bi-search"></i> Search
            </button>
            {% if q %}
                <a class="btn btn-warning" href='{{ path('person_search') }}'>
                    <i class="bi bi-arrow-repeat"></i> Reset
                </a>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-sm-3">
                {% include 'search/partial/order.html.twig' with {
                    'header': 'Order By',
                    'options': sortOptions,
                } %}
                {% include 'search/partial/range_filter.html.twig' with {
                    'header': 'Birth Date',
                    'filterName': 'birthDate',
                    'ranges': facetDistribution.birthDate,
                } %}
                {% include 'search/partial/range_filter.html.twig' with {
                    'header': 'Death Date',
                    'filterName': 'deathDate',
                    'ranges': facetDistribution.deathDate,
                } %}
            </div>
            <div class="col-sm-9">
                {% include 'search/partial/results.html.twig' with { 'results': results } %}
            </div>
        </div>
    </form>
{% endblock %}
