{% extends 'base.html.twig' %}

{% block pageheader %}
	<h1>Welcome</h1>
{% endblock %}

{% block body %}
	
	<p>This project is based on Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}.</p>
	
	<p><b>Test:</b> {{'testCase'|camelTitle}}.</p>
	
{% endblock %}
