{% extends 'base.html.twig' %}

{% block title %}References{% endblock %}

{% block pageheader %}
    <h1>References &amp; Works Cited</h1>
    <p class="count">
        Displaying {{ publications|length }} references of {{ publications.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    {% include 'AppBundle:Publication:partial/list.html.twig' %}

    <div class="navigation">
        {{ knp_pagination_render(publications) }}
    </div>

{% endblock %}
