<div class="row">
    <div class="col-sm-6 text-left">
        {% if previous is defined %}
            Previous Book: 
            {% embed 'AppBundle:Publication:partial/link.html.twig' with {'publication': previous} %}
            {% endembed %}
        {% endif %}
    </div>
    <div class="col-sm-6 text-right">
        {% if next %}
            Next Book:
            {% embed 'AppBundle:Publication:partial/link.html.twig' with {'publication': next} %}
            {% endembed %}
        {% endif %}
    </div>
</div>    
