{% if publication.category == constant('AppBundle\\Entity\\Publication::BOOK') %}
    {% set path_name = 'book_show' %}
{% elseif publication.category == constant('AppBundle\\Entity\\Publication::COMPILATION') %}
    {% set path_name = 'compilation_show' %}
{% elseif publication.category == constant('AppBundle\\Entity\\Publication::PERIODICAL') %}
    {% set path_name = 'periodical_show' %}
{% else %}
    <p>Cannot generate link for entity type {{ publication.category }}.</p>
{% endif %}
{% if path_name is defined %}
    <a href="{{ path(path_name, { 'id': publication.id}) }}">
        {% if render is defined %}
            {{ include(template_from_string(render)) }}
        {% else %}
            {{ publication }}
        {% endif %}
    </a>
{% endif %}
